.nav{
    height: 100px;
    width: 100%;    
    background-color:black ;
    display: flex;
    position: sticky;
    top: 0;
    color: aliceblue;
}
.nav .links ul{
    display: flex;
    
}
.nav .links ul li{
    list-style: none;
    margin: 25px;
}
.nav .links ul li a{
    text-decoration: none;
    color: antiquewhite;
}

.nav .logo img{
width: 150px;
height: 100px;
    
}
.nav .input{
    margin-left: 15%;
    margin-top: 35px  
}
.input input{
    border-radius: 10px;
    width: 200px;
}
.nav .log{  
     margin-top: 35px;
     margin-left: 10px;
}
.log button{
    background-color:green;
    border-radius: 10px;
    color: aliceblue;
}
.nav .sign{
    margin-top: 35px;
     margin-left: 10px;
}
.sign button{
    background-color:green;
    border-radius: 10px;
    color: aliceblue;

}
